# Fichiers sensibles ou locaux
.env
*.env

# Répertoires à ne pas versionner
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Dossiers de données locales
/data/
# Fichiers de configuration locaux
config/alerts.json

# Cache de l'éditeur
.vscode/
.idea/

/other/